{% extends 'base.html.twig' %}

{% block title %}Hello EntrepriseController!{% endblock %}

{% block body %}
<article class="col-md-4 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
        <h2></h2>
       
        
        

       
      
      
    </article>
{% endblock %}
